<h1>Check Out Our Reviews</h1>
<% @reviews.each do |review| %>
<p>User: <%= review.user_id %></p>
  <p>Reservation_Id: <%= review.reservation_id %></p>
  <p>Rating: <%= review.rating %></p>
  <p>Comment: <%= review.comment%></p>
  <% end %>
  